APP_NAME=
NODE_ENV=

FRONTEND_URL=
API_URL=

MONGODB_URI=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/auth/github/callback

SESSION_SECRET=

JWT_SECRET=
JWT_EXPIRES_IN=

GEMINI_API_KEY=
VITE_GEMINI_API_KEY=

LOG_LEVEL=